@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.btn-icon {
  @apply flex flex-row justify-between items-center gap-2;
}
.btn-white {
  @apply bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
}
.btn-blue {
  @apply hover:bg-white bg-blue-500 hover:text-blue-700 font-semibold text-white py-2 px-4 border hover:border-blue-500 border-transparent rounded;
}
input {
  @apply w-full bg-[#f5f5f5ff] text-black border text-[12px]  rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white border-gray-600;
}
label {
  @apply block  mb-1;
}

input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.tile-box {
  @apply cursor-pointer flex flex-col justify-between  h-full px-4 py-6 bg-[#e7f5fc] box-border text-black rounded;
}
.tile-title {
  @apply text-left font-roborto font-normal text-[25px];
}
.tile-icon {
  @apply text-4xl ml-1 mb-8 text-blue-500;
}


/* Pagination */
.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    font-weight: 700;
    margin: auto 4px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 5px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
      
    }
    &:hover {
      border: 2px solid #3026B9 !important;
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
      background-color: white;
    }

    &.selected {

      border: 2px solid #3026B9 !important;
      background-color: white;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      background: gray;
      color: white;
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}